.boxes {
  width: 600px;
  margin: 0 auto;
  background-color: #ff0;
  display: flex;
  justify-content: center;
}

.box1 {
  width: 150px;
  height: 400px;
  background-color: #ffa500;
}

.box2 {
  width: 250px;
  height: 400px;
  background-color: #f00;
}
