*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  padding: 30px 20px;
  background-color: #f0f;
  display: flex;
  justify-content: flex-end;
}

.header-contents{
  height: 70px;
  margin: 0 10px;
  background-color: #ffc0cb;
  flex-basis: 140px;
}

.header-contents:nth-child(1){
  margin-right: auto;
}

main{
  display: flex;
  justify-content: center;
}

.main-sidebar{
  width: 300px;
  background-color: #adff2f;
}

.main-box{
  max-width: 700px;
  padding: 20px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #080;
}

.box{
  height: 130px;
  margin:10px;
  flex-basis: 200px;
  background-color: #ff0;
}

footer{
  width: 100%;
  padding: 20px;
  background-color: #1e90ff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-contents{
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #87ceeb;
}